.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix
.htaccess
.env
/bankApp
/config
/lib
/css/compiled.css
/css/concatinated.css
/css/stripe.css
/node_modules
/sass/abstracts
/sass/base
/sass/components
/sass/layout
/sass/pages
/sass/stc
/sass/themes
/sass/main.scss
/sass/sass.bat
/svg/demo-files
/svg/fonts
/svg/PNG
/svg/SVG
/svg/demo-external-svg.html
/svg/demo.html
/svg/Read Me.txt
/svg/selection.json
/svg/style.css
/svg/svgxuse.js
/texts
/vendor
/flexappykey
/flexappy.pub
/full.html
/index.html
/spare.html
